.container {
	max-width: var(--container-width);
	width: 100%;
	margin: 0 auto;
	position: relative;
	@media (max-width: 1200px) {
		padding: 0 20px;
	}
}

.container-big {
	max-width: var(--container-big-width);
	padding: var(--container-padding);
	margin: 0 auto;
	background-color: var(--page-section);
	border-radius: 24px;
	@media (max-width: 1200px) {
		padding: var(--container-padding) 20px;
	}
	@media (max-width: 580px) {
		padding: 24px 20px;
	}
	
}

.container-left {
	/* overflow-x: hidden; */
	padding-right: calc(
		(100% - var(--container-width)) / 2 + var(--container-padding)
	);

	@media (max-width: 1229px) {
		padding-left: var(--container-padding);
		padding-right: var(--container-padding);
	}
}
