:root {
	--container-width: 1152px;
	--container-big-width: 1256px;
	--container-padding: 52px;
	--section-padding: 120px;

	--font-main: 'Inter', sans-serif;

	--page-bg: #fff;
	--page-section: #F4F6F8;
	--line-color: #E4E6E8;
	--block-bg-green: #34C66C;
	--number-color: #34C67E;
	--form-color: #A0A2A3;
	--block-bg-blue: #35AFF4;
	--text-white: #fff;
	--text-color: #000;
}
